In [1]:
import pandas as pd

In [20]:
data = pd.read_excel("./provinces.xls")
print('List of provinces and cities: \n')
for i in range(1, len(data)):
    print(data.iloc[i]['Name'], end = ', ')

List of provinces and cities:

Tỉnh Hà Giang, Tỉnh Cao Bằng, Tỉnh Bắc Kạn, Tỉnh Tuyên Quang, Tỉnh Lào Cai, Tỉnh Điện Biên, Tỉnh Lai Châu, Tỉnh Sơn La, Tỉnh Yên Bái, Tỉnh Hoà Bình, Tỉnh Thái Nguyên, Tỉnh Lạng Sơn, Tỉnh Quảng Ninh, Tỉnh Bắc Giang, Tỉnh Phú Thọ, Tỉnh Vĩnh Phúc, Tỉnh Bắc Ninh, Tỉnh Hải Dương, Thành phố Hải Phòng, Tỉnh Hưng Yên, Tỉnh Thái Bình, Tỉnh Hà Nam, Tỉnh Nam Định, Tỉnh Ninh Bình, Tỉnh Thanh Hóa, Tỉnh Nghệ An, Tỉnh Hà Tĩnh, Tỉnh Quảng Bình, Tỉnh Quảng Trị, Tỉnh Thừa Thiên Huế, Thành phố Đà Nẵng, Tỉnh Quảng Nam, Tỉnh Quảng Ngãi, Tỉnh Bình Định, Tỉnh Phú Yên, Tỉnh Khánh Hòa, Tỉnh Ninh Thuận, Tỉnh Bình Thuận, Tỉnh Kon Tum, Tỉnh Gia Lai, Tỉnh Đắk Lắk, Tỉnh Đắk Nông, Tỉnh Lâm Đồng, Tỉnh Bình Phước, Tỉnh Tây Ninh, Tỉnh Bình Dương, Tỉnh Đồng Nai, Tỉnh Bà Rịa - Vũng Tàu, Thành phố Hồ Chí Minh, Tỉnh Long An, Tỉnh Tiền Giang, Tỉnh Bến Tre, Tỉnh Trà Vinh, Tỉnh Vĩnh Long, Tỉnh Đồng Tháp, Tỉnh An Giang, Tỉnh Kiên Giang, Thành phố Cần Thơ, Tỉnh Hậu Giang, Tỉnh Sóc Trăng, Tỉnh Bạc Liêu, Tỉnh Cà Mau,

In [29]:
data
data.loc[:, ['Name', 'Region']]

                 Name                   Region
0    Thành phố Hà Nội      Đồng bằng sông Hồng
1       Tỉnh Hà Giang              Đông Bắc Bộ
2       Tỉnh Cao Bằng              Đông Bắc Bộ
3        Tỉnh Bắc Kạn              Đông Bắc Bộ
4    Tỉnh Tuyên Quang              Đông Bắc Bộ
..                ...                      ...
58  Thành phố Cần Thơ  Đồng bằng sông Cửu Long
59     Tỉnh Hậu Giang  Đồng bằng sông Cửu Long
60     Tỉnh Sóc Trăng  Đồng bằng sông Cửu Long
61      Tỉnh Bạc Liêu  Đồng bằng sông Cửu Long
62        Tỉnh Cà Mau  Đồng bằng sông Cửu Long

[63 rows x 2 columns]

In [31]:
data['Region'].count()
data['Region'].value_counts()

Đồng bằng sông Cửu Long    13
Đồng bằng sông Hồng        10
Đông Bắc Bộ                 9
Nam Trung Bộ                8
Tây Bắc Bộ                  6
Bắc Trung Bộ                6
Đông Nam Bộ                 6
Tây Nguyên                  5
Name: Region, dtype: int64

In [38]:
data.loc[data.Population == data['Population'].max()]
data.loc[data.Population == data['Population'].min()]

           Name Division       Region    Area  Population
3  Tỉnh Bắc Kạn     Tỉnh  Đông Bắc Bộ  4860.0       314.4

In [46]:
data2 = data.groupby(by=['Region']).sum()
data2

C:\Users\Admin\AppData\Local\Temp\ipykernel_20356\3904202490.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  data2 = data.groupby(by=['Region']).sum()

                            Area  Population
Region
Bắc Trung Bộ             51110.8     10932.8
Nam Trung Bộ             44542.0      9287.6
Tây Bắc Bộ               50575.7      4729.1
Tây Nguyên               54508.3      5861.3
Đông Bắc Bộ              50802.8      9165.0
Đông Nam Bộ              23518.7     17930.3
Đồng bằng sông Cửu Long  40816.4     17282.5
Đồng bằng sông Hồng      15081.1     21295.4

In [47]:
sum_pop = data2.Population.sum()

96484.00000000001

In [56]:
data2["Area Population"] = data2["Population"]/sum_pop * 100
data2.drop("Total Area", inplace=True, axis=1)
data2

                            Area  Population  Area Population
Region
Bắc Trung Bộ             51110.8     10932.8        11.331205
Nam Trung Bộ             44542.0      9287.6         9.626052
Tây Bắc Bộ               50575.7      4729.1         4.901434
Tây Nguyên               54508.3      5861.3         6.074893
Đông Bắc Bộ              50802.8      9165.0         9.498984
Đông Nam Bộ              23518.7     17930.3        18.583703
Đồng bằng sông Cửu Long  40816.4     17282.5        17.912296
Đồng bằng sông Hồng      15081.1     21295.4        22.071432

In [66]:
solieu = pd.read_csv("./SoLieu (2).csv")
solieu

    STT GioiTinh  Tuoi    KhuVuc  ThuNhap
0     1      Nam    30  NongThon       30
1     2       Nu    27  ThanhPho       40
2     3       Nu    32   MienNui       25
3     4      Nam    31  NongThon       35
4     5       Nu    41    HaiDao       42
..  ...      ...   ...       ...      ...
95   96       Nu    37    HaiDao       30
96   97       Nu    38  NongThon       20
97   98      Nam    78  ThanhPho       25
98   99      Nam    65  ThanhPho       42
99  100       Nu    75   MienNui       48

[100 rows x 5 columns]

In [72]:
solieu[solieu['GioiTinh'] == 'Nam'].GioiTinh.count()
solieu[solieu['KhuVuc'] == 'ThanhPho'].KhuVuc.count()

42

In [79]:
solieu[(solieu['GioiTinh'] == 'Nam') & (solieu['KhuVuc'] == 'HaiDao')].GioiTinh.count()
solieu[(solieu['GioiTinh'] == 'Nu') & (solieu['KhuVuc'] == 'NongThon')].GioiTinh.count()

10

In [85]:
solieu
sum_nu = solieu[solieu['GioiTinh'] == "Nu"].GioiTinh.count()
sum_nu

TypeError: unsupported operand type(s) for /: 'str' and 'int'